{
  "extends": "standard",
  "env": {
    "mocha": true
  },
  "rules": {
    // Allow trailing commas
    "comma-dangle": 0,
    // Allow new line after start of block (function)
    "padded-blocks": 0
  }
}
